	html, body
	{
		height: 100%;
	}
	
	body
	{
		margin: 0px;
		padding: 0px;
		width: 100%;
		background: #8b8b8b;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 10pt;
		font-weight: 400;
		color: #4E4D4D;
	}
		
	h1, h2, h3
	{
		margin: 0;
		padding: 0;
	}
	
	p, ol, ul
	{
		margin-top: 0;
	}
	
	ol, ul
	{
		padding: 0;
		list-style: none;
	}
	
	p
	{
		line-height: 180%;
	}
	
	strong
	{
	}
	
	a
	{
		color: #383838;
	}
	
	a:hover
	{
		text-decoration: none;
	}
	
	.container
	{
		width: 80%;
		margin: 0px auto;
		
	}

/*********************************************************************************/
/* Image Style                                                                   */
/*********************************************************************************/

	.image
	{
		display: inline-block;
	}
	
	.image img
	{
		display: block;
		width: 100%;
		border:	2px grey; 
	}
	
	.image-full
	{
		display: block;
		width: 100%;
		margin: 0 0 0 0;
		
	}
	
	.image-left
	{
		float: left;
		margin: 0 2em 2em 0;
	}
	
	.image-centered
	{
		display: block;
		margin: 0 0 2em 0;
	}
	
	.image-centered img
	{
		margin: 0 auto;
		width: auto;
	}

/*********************************************************************************/
/* List Styles                                                                   */
/*********************************************************************************/

	ul.style1
	{
	}


/*********************************************************************************/
/* Social Icon Styles                                                            */
/*********************************************************************************/

	ul.contact
	{
		overflow:  hidden;
		margin: 0em 0 3em 0;
		padding-top: 1em;
		text-align: center;
	}
	
	ul.contact li
	{
		display: inline-block;
		padding: 0em 0.30em;
		font-size: 1em;
	}
	
	ul.contact li span
	{
		display: none;
		margin: 0;
		padding: 0;
	}
	
	ul.contact li a
	{
		color: rgb(255, 255, 255);
	}
	
	ul.contact li a:before
	{
		display: inline-block;
		width: 50px;
		height: 50px;
		line-height: 40px;
		text-align: center;
		font-size: 2em;
		color: rgba(163, 0, 0, 0.3);
	}

/*********************************************************************************/
/* Major Styles                                                                  */
/*********************************************************************************/

	.major
	{
		overflow: hidden;
		margin-bottom: 4em;
		text-align: center;
	}
	
	.major h2
	{
		letter-spacing: 0.10em;
		text-transform: uppercase;
		font-size: 4em;
		font-weight: 700;
		color: #929292;
	}
	.major .byline
	{
		display: block;
		padding-top: 0.2em;
		font-weight: 300;
		font-size: 2em;
	}

/*********************************************************************************/
/* Title Styles                                                                  */
/*********************************************************************************/

	.title
	{
		text-align: center;
	}
	
	.title h2
	{
		letter-spacing: 0.10em;
		text-transform: uppercase;
		font-weight: 700;
		
		color: #929292;
	}

	.title .byline
	{
		display: block;
		padding-top: 1em;
		font-weight: 300;
		font-size: 1.1em;
	}


/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

	.button
	{
		display: inline-block;
		margin: 1em 0em;
		padding: 1em 3em 1em 3em;
		background: rgb(50, 74, 116);;
		border-radius: 8px;
		letter-spacing: 0.20em;
		text-decoration: none;
		text-align: center;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 0.90em;
		color: #FFF;
	}
	
	.button:before
	{
	}

/*********************************************************************************/
/* Canvas                                                                      */
/*********************************************************************************/
canvas {
	width: 500px;
	height: 200px;
	position: fixed;
	z-index: 10;
	right: 300px;
	top: 100px;

	background: rgba(50, 74, 116, 0.9);
	

}


/*********************************************************************************/
/* Namenseingabe                                                                        */
/*********************************************************************************/
#nameInput 
{
	background: rgba(0, 0, 0, 1.0);
	height: 200px;
	width: 300px;
	position: fixed;
	z-index: 10;
	/* right: -200px; */
	right: 0px;
	top: 100px;
	color: rgb(255, 255, 255);
	font-size: 1em;
	line-height: 50%;
	text-align: center;
	padding: 0px;
	transition: 10s ease-in;
	/* -webkit-animation: einblenden 5s ; */
}
#nameInput h2 {
	font-size: 3em;	
	color: #8C8C8C;
	line-height: normal;
}





/*********************************************************************************/
/* Cookie-Bar                                                                        */
/*********************************************************************************/

@-webkit-keyframes einblenden { /* Für Safari und Chrome */
    from { opacity:0; }
    to { opacity:1; }
}
#Cookie-Bar
{
	background: rgba(63, 63, 63, 0.8);
	height: 120px;
	/* width: 70%; */
	position: fixed;
	z-index: 10;
	margin: 500px auto;
	/* margin: 500px 20px 0 0; */
	color: white;
	text-align: center;
	padding: 10px 200px;
	transition: 10s ease-in;
	-webkit-animation: einblenden 5s ;
}
#Cookie-Bar:hover
{
	transform: translateY(20px,-20px);
	transition: all 0.4s ease-in-out;
}

#button
{
	margin: auto;
	padding: 0px 40px;
	align-items: center;
	width: 300px;
	display: block;
	font-size: 15px; /* 1em; */
	font-weight: 600;
}
#left_button 
{
	float: left;
	margin: 0 2 px;
	/* border: 2px dotted rgb(119, 119, 119); */
	text-align: center;
	width: 30%;
	background: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
}
/*
#left_button:hover
{
	background: rgb(0, 0, 0);
	color: rgb(255, 255, 255);
} 
*/
#right_button 
{
	float: right;
	margin: 0 2px;
	width: 60%;
	background: rgb(128, 128, 128);
	color: rgb(255, 255, 255);
}
/*
#right_button:hover
{
	background: rgb(54, 54, 54);
	color: rgb(255, 255, 255);
}
*/
/*********************************************************************************/
/* Cookie-Info                                                                        */
/*********************************************************************************/
#Cookie-Info
{
	background: rgba(63, 63, 63, 1.0);
	height: 300px;
	position:fixed;
	z-index: 10;
	visibility: hidden;

/* Mittig ausrichten (nächste 5 Werte) */
	
	width:600px;
	left:0;
	right:0;
	margin:200px auto;

	color: white;
	text-align: center;
	padding: 10px 20px;
	transition: 10s ease-in;
}
/*
#Cookie-Info:hover
{
	transform: translateY(20px,-20px);
	transition: all 0.4s ease-in-out;
}
*/
.Cookie-Info-buttons
{
	border: 2px dotted rgb(119, 119, 119);
	background: rgb(255, 255, 255);
	color: rgb(0, 0, 0); 
	width: 200px;
	height: 40px;
	padding: 0px;
	margin: auto;
	font-size: 20px; /* 1em; */
	text-align: center;
	font-weight: 600;
}
/*
.Cookie-Info-button:hover 
{
	background: rgb(0, 0, 0);
	color: rgb(255, 255, 255);
}
*/
/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header
	{
		background: rgb(50, 74, 116);
		/* position: fixed; ===> später ermöglichen*/
		width: 100%;
		height: 80px;
	}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo
	{
		padding: 1em 4em;
		vertical-align: middle;
		text-transform: uppercase;
		float: left;
		
		
	}

	#logo h1
	{
		text-align: center;
		font-weight: 900;
		font-size: 3em;
	
	}
	
	#logo h1 a
	{
	}

	#logo span
	{
		padding: 0em 0em 0em 0.5em;
	}
	
	#logo h1:before
	{
		
	}
	
	#logo a 
	{
		color: rgb(255, 255, 255);
	}


/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

	#menu ul
	{
		margin: 0px -10% 0px 0px; /* Menü nach rechts verschoben */
		padding: 15px 10px 20px 0px;
		list-style: none;
		line-height: normal;
		text-align: right;
		
	}
	
	#menu li
	{
		display: inline-block;
	}
	
	#menu a
	{
		display: block;
		padding: 1em 2em;
		letter-spacing: 1px;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 15px; /* 1em; */
		font-weight: 500;
		color: #FFF;
	}
	
	#menu .current_page_item a
	{
		border-radius: 30px;
		border: 3px dashed;
		border-color: rgba(255, 255, 255, 0.548);
	}
	
	#menu .current_page_item a:hover
	{
		border-radius: 30px;
		border: 3px dashed;
		border-color: rgba(0, 0, 0, 0.548);

	}
	#menu a:hover
	{
		color: rgba(0, 0, 0, 0.548);

	}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner
	{
	}

/*********************************************************************************/
/* Page                                                                          */
/*********************************************************************************/

	#page-wrapper
	{
		background: #EEEEEE;
		height: 650px;
		width: auto;
		
	}

	#page
	{
		overflow: hidden;
		padding: 0em 0em;
		width: 80%;
		
	}

/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/

	#content
	{
		float: left;
		width: 35%;
		text-align: center;
		padding-top: 150px;
		padding-right: 10px;
		
	}
	
	#content .title
	{
		padding: 1em 2em 2em 2em;
		text-align: center;
	}
	
	#content h2
	{
		font-size: 2em;
	}
	
	#content .byline
	{
		
		font-size: 1.5em;
	}

/*********************************************************************************/
/* Sidebar                                                                       */
/*********************************************************************************/

	#sidebar
	{
		float: right;
		
		width: 60%;
		padding: 0px;
		margin: 0px;
	}
	#sidebar img {
		width: 100%;
		margin: 0px;
		margin-top: 100px;
	}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer
	{
	}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	#copyright
	{
		overflow: hidden;
		padding: 5em 0em;
	}
	
	#copyright p
	{
		letter-spacing: 0.20em;
		text-align: center;
		text-transform: uppercase;
		font-size: 0.80em;
		color: #6F6F6F;
	}
	
	#copyright a
	{
		text-decoration: none;
		color: #8C8C8C;
	}

/*********************************************************************************/
/* Featured                                                                      */
/*********************************************************************************/

	#featured-wrapper
	{
		overflow: hidden;
		padding: 5em 0em;
		background: #FFF;
	}
	
	#featured h2
	{
		text-align: center;
	}

	#featured .icon
	{
		position: relative;
		display: block;
		background: rgb(50, 74, 116);;
		margin: 0px auto 20px auto;
		line-height: 2.5em;
		font-size: 4em;
		text-align: center;
		color: #FFF;
		/* visibility: hidden; */
	}

	.column1,
	.column2,
	.column3,
	.column4
	{
		width: 282px;
	}
	
	.column1,
	.column2
	{
		float: left;
		margin-right: 24px;
	}
	
	.column3
	{
		float: left;
	}
	
	.column4
	{
		float: right;
	}

/*********************************************************************************/
/* Portfolio                                                                     */
/*********************************************************************************/

	#portfolio-wrapper
	{
		padding: 8em 0em 6em 0em;
	}
	
	#portfolio
	{
		overflow: hidden;
		text-align: center;
	}
	
	#portfolio .major h2,
	#portfolio .major .byline
	{
		color: rgba(255,255,255,0.9);
	}
	
	#portfolio img
	{
		margin: 0;
		padding: 0;
	}
	
	#portfolio .box
	{
		padding: 30px;
		background: #FFF;
		border-radius: 0px 0px 8px 8px;
		border-right: 1px solid #DADADA;
		border-left: 1px solid #DADADA;
	}

	#contact .major h2,
	#contact .major .byline
	{
		color: rgba(255,255,255,0.9);
	}
