	html, body
	{
		height: 100%;
		
	}
	
	body
	{
		margin: 0px;
		padding: 0px;
		width: 100%;
		background: #8b8b8b;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 10pt;
		font-weight: 400;
		color: #4E4D4D;
	}
		
	h1, h2, h3
	{
		margin: 0;
		padding: 0;
	}
	
	p, ol, ul
	{
		margin-top: 0;
	}
	
	ol, ul
	{
		padding: 0;
		list-style: none;
	}
	
	p
	{
		line-height: 180%;
	}
			
	a
	{
		color: #383838;
	}
	
	a:hover
	{
		text-decoration: none;
	}
	
	.container
	{
		width: 100%;
		margin: 0px auto;
		
	}

/*********************************************************************************/
/* Image Style                                                                   */
/*********************************************************************************/

	.image
	{
		display: inline-block;
	}
	
	.image img
	{
		display: block;
		width: 100%;
		border:	2px grey; 
	}
	
	.image-full
	{
		display: block;
		width: 100%;
		margin: 0 0 0 0;
		
	}
	
	.image-left
	{
		float: left;
		margin: 0 2em 2em 0;
	}
	
	.image-centered
	{
		display: block;
		margin: 0 0 2em 0;
	}
	
	.image-centered img
	{
		margin: 0 auto;
		width: auto;
	}


/*********************************************************************************/
/* Major Styles                                                                  */
/*********************************************************************************/

	.major
	{
		overflow: hidden;
		margin-bottom: 4em;
		text-align: center;
	}
	
	.major h2
	{
		letter-spacing: 0.10em;
		text-transform: uppercase;
		font-size: 4em;
		font-weight: 700;
		color: #929292;
	}
	.major .byline
	{
		display: block;
		padding-top: 0.2em;
		font-weight: 300;
		font-size: 2em;
	}

/*********************************************************************************/
/* Title Styles                                                                  */
/*********************************************************************************/

	.title
	{
		text-align: center;
	}
	
	.title h2
	{
		letter-spacing: 0.10em;
		text-transform: uppercase;
		font-weight: 700;
		
		color: #929292;
	}

	.title .byline
	{
		display: block;
		padding-top: 1em;
		font-weight: 300;
		font-size: 1.1em;
	}

/*********************************************************************************/
/* Namenseingabe                                                                        */
/*********************************************************************************/
/* #nameInput 
{
	background: rgba(0, 0, 0, 1.0);
	height: 200px;
	width: 300px;
	position: fixed;
	z-index: 10;
	 /*right: -200px;
	right: 0px;
	top: 100px;
	color: rgb(255, 255, 255);
	font-size: 1em;
	line-height: 50%;
	text-align: center;
	padding: 0px;
	transition: 10s ease-in;
	/* -webkit-animation: einblenden 5s ; 
}
#nameInput h2 {
	font-size: 3em;	
	color: #8C8C8C;
	line-height: normal;
}


*/

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header
	{
		background: rgb(102, 0, 0);
		position: fixed;
		width: 100%;
		height: 80px;
	}


/*********************************************************************************/
/* Page                                                                          */
/*********************************************************************************/

	#page-wrapper
	{
		background: #EEEEEE;
		height: 650px;
		width: auto;
		
	}

	#page
	{
		overflow: hidden;
		padding: 0em 0em;
		width: 90%;
		
	}

/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/

	#content
	{
		float: left;
		width: auto;
		text-align: center;
		padding-top: 0px;
		padding-right: 10px;
		border: 1px black solid;
		margin: 10px;
		margin-top: 100px;
		height: 530px;
		
	}
	
	#content .title
	{
		padding: 1em 2em 2em 2em;
		text-align: center;
	}
	
	h2
	{
		font-size: 2em;
	}
	
	#content .byline
	{
		font-size: 1.5em;
	}
	#content table {
		width: auto;
		padding: 5px;
		margin: 20px;
	}
	#content table tr {
		margin: 10px 0px;
	}
	#content table td {
		height: 50px;
		margin: 20px;
		/* border: 1px black solid;
		background: rgb(207, 207, 207); */
	}
	
	input {
		height: 80%;
		border: 0px;
		width: 100px;
		background: #EEEEEE;
		border: 2px rgb(0, 0, 0) dotted;
	}
	.ergebnis {
		border: 0px;
		border-bottom: 1px black solid;
		padding-left: 10px;
		width: 100px;
	}
	button {
		background: white;
		border: 1px black solid;
		width: 100%;
		height: 90%;
	}
	#deleteAll {
		height: 30px;
		width: fit-content;
	}
	#buttons {
		margin-top: 50px;
	}
	#buttons button {
		height: 30px;
		width: 200px;
		margin: 10px;
	}
/*********************************************************************************/
/* Sidebar                                                                       */
/*********************************************************************************/

	#sidebar
	{
		float: right;
		border: 1px black solid;
		width: 600px;
		padding: 0px;
		margin: 20px;
		margin-top: 100px; 
		height: 530px;
		

	}
	#innen {
		margin: 20px auto;
		padding: 0px 85px;
	}
	
	#sidebar h2 {
		text-align: center;
		margin-top: 60px;
		margin-bottom: 20px;
		
	}
	#ausgabezahl1, #ausgabezahl2, #ausgabezahl3 {
		height: 30px;
		background: black;
		font-size: 1.5em;
		color: white;
		width: 200px;
		margin: 5px;
		text-align: center;
		border: 0px;
	}
	#wuerfelbutton{
		height: 30px;
		width: 200px;
		margin: 5px;
		font-size: 1.5em;
		border: 2px black solid;
	}
	#sidebar table {
		width: 412px;
		border: 1px black solid;
		font-size: 1.5em;
		text-align: center;
		margin: 5px;
		margin-top: 40px;
	}
	#sidebar table td {
		width: 215px;
		border: 1px black solid;
		height: 40px;
	}

	


/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	#copyright
	{
		overflow: hidden;
		padding: 5em 0em;
		position: fixed;
		height: 200px;
	}
	
	

