body {
    background: black;
    color: rgb(177, 177, 177);
    height: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
h1 {
    text-align: center;
}
#spielFlaeche {
    border: 1px black dotted;
    background: white;
    color: rgb(0, 0, 0);
    height: 500px;
    width: 50%;
    margin: 50px auto;
    text-align: center;
}
my-memoryCard {
    width: 100px;
    height: 200px;
    margin: auto;
    background: black;
    border: 3px black;
    color: red;
    
}
my-beispiel {
    background: black;
    color: white;
    
}
#karteBlau1 {
    background: #00398D;
    height: 100px;
    width: 100px;
    margin: 5px;
}
#karteBlau2 {
    background: #004EC2;
    height: 100px;
    width: 100px;
    margin: 5px;
}
#karteBlau3 {
    background: #2A7FFF;
    height: 100px;
    width: 100px;
    margin: 5px;
}
#karteBlau4 {
    background: #629CF2;
    height: 100px;
    width: 100px;
    margin: 5px;
}
#karteBlau5 {
    background: #9BC3FF;
    height: 100px;
    width: 100px;
    margin: 5px;
}
.flex-container {
    width: 100%;
    /* display: grid; mittig */
    justify-content: center; /* mittig */
    align-items: center; /* mittig */
    display: flex;
  }
  .flex-item {
    justify-content: flex-evenly;
    
  }
